<h1>タスク一覧</h1>
<%= link_to '新しくタスク登録', new_article_path %>
<table>
  <tr>
    <th>タスク</th>
    <th>内容</th>
    <th></th>
</tr>

<% @articles.each do |article| %>
<tr>
  <td><%= article.title %></td>
  <td>|<%= article.text %></td>
  <td><%= link_to 'Show', article_path(article)  %></td>
</tr>
<% end %>
</table>
