<p>
  <strong>タスク:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @article.text %>
</p>

<%= link_to '戻る', articles_path %>
| <%= link_to '直す', edit_article_path(@article) %>
